- Dravencms\Model\Gallery\Repository\GalleryRepository
- Dravencms\Model\Gallery\Repository\PictureRepository
- Dravencms\Model\Gallery\Repository\PictureTranslationRepository
- Dravencms\Model\Gallery\Repository\GalleryTranslationRepository

- Dravencms\Model\Gallery\Fixtures\AclOperationFixtures
- Dravencms\Model\Gallery\Fixtures\AclResourceFixtures
- Dravencms\Model\Gallery\Fixtures\AdminMenuFixtures
- Dravencms\Model\Gallery\Fixtures\FileFixtures