extensions:
    dravencms.gallery: Dravencms\Gallery\DI\GalleryExtension

services:
    gallery.galleryPresenter:
        class: Dravencms\AdminModule\GalleryModule\GalleryPresenter


nettrine.orm:
    managers:
        default:
            mapping:
                DravencmsGallery:
                    type: attributes
                    directories:
                        - %appDir%/../vendor/dravencms/gallery/src/Dravencms/Model/Gallery/Entities
                    namespace: Dravencms\Model\Gallery
