{block #content}
    <div class="page-header"><h1>{_$h1}</h1></div>
    <p n:isAllowed="gallery,edit">
        <a n:href="Gallery:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New gallery"}</a>
    </p>
    {control gridGallery}
{/block}